body,ul,li,p{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: wheat;
}
p{
    padding: 4px;
    align-items: center;
}
body{
    margin-bottom: 100px;
}
header{
    background-color: #1d1e1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    flex-wrap: wrap;
}

.menu{
    display: flex;    
}

.menu li{
    background-color:rgb(10, 33, 76);
    margin: 2px;
}
.menu li a{
    padding: 10px;
    display: block;
}
/* flex */

img{
    max-width: 100%;
    display: block;
    
}

h1{
 display: block;
 text-align: center;
}
.flexb{
    display: flex;
    background-color: wheat; 
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

}
.flexb > div{
    flex: 1 1 200px;
    margin: 12px;
}
div > p{
    text-align: center;
}
/* grid */

.gridb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    max-width: 1200px;    
    margin: 0 auto;        
    grid-gap: 10px;
    
}
.gridb > div:nth-child(n+4){
    display: grid;
    grid-template-columns: 1fr 1fr ;  
    
    
    
}
.gridb > div.ads{
    grid-row: 3/4;
    grid-column: 1;
    border: 5px dashed palegreen;
    
}

/* media qr */

@media (max-width:600px){

    .gridb{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gridb >div.ads{
        grid-row: auto;
        grid-column: auto;
        order:-1;
    }
    .gridb > div:nth-child(n+1){
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}